<table>
  <thead>
    <tr>
      <th><%== link_path('/stocks', 'ID', 'id', sort_column, sort_direction) %></th>
      <th><%== link_path('/stocks', '股票名称', 'name', sort_column, sort_direction) %></th>
      <th><%== link_path('/stocks', '交易所名称', 'exchange_name', sort_column, sort_direction) %></th>
      <th><%== link_path('/stocks', '机构持股占比', 'percent_of_institutions', sort_column, sort_direction) %></th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@stocks, "stocks/stock") %>
  </tbody>
</table>

<% content_for(:footer) do %>
  We have <%= @stocks.count %> stocks.
<% end %>

<% content_for(:title) do %>
  Stock list
<% end %>
