<table>
  <thead>
    <tr>
      <th><%== link_path('ID', 'id') %></th>
      <th><%== link_path('股票名称', 'name') %></th>
      <th><%== link_path('交易所名称', 'exchange_name') %></th>
      <th><%== link_path('机构持股占比', 'percent_of_institutions') %></th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@stocks, "stocks/stock") %>
  </tbody>
</table>

<%=
next_page = @stocks.next_page
prev_page = @stocks.prev_page
page_size = @stocks.page_size
%>

<% if prev_page %>
  <a href="/stocks?page=<%= @stocks.prev_page %>&per=<%= page_size  %>">previous page</a>
<% end %>
<% if next_page %>
  <a href="/stocks?page=<%= next_page %>&per=<%= page_size %>">next page</a>
<% end %>

<% content_for(:footer) do %>
  We have <%= @stocks.count %> stocks.
<% end %>

<% content_for(:title) do %>
  Stock list
<% end %>
