<tr>
  <td><a href="<%= news_item[:url] %>"><%= news_item[:title] %></a></td>
  <td><%= news_item[:preview] %></td>
  <td><%= news_item[:source] %></td>
  <td><%= news_item[:publish_time_string] %></td>
</tr>
