<tr>
  <td><%= insider['ID'] %></td>
  <td><a href="/stocks/<%= insider['stock_id'] %>"><%= insider['股票'] %></a></td>
  <td><%= insider['日期'] %></td>
  <td><%= insider['名称'] %></td>
  <td><%= insider['职位'] %></td>
  <td><%= insider['股票变动数量'] %></td>
  <td><%= insider['平均价格'] %></td>
  <td><%= insider['交易价格'] %></td>
</tr>
