<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%== link_path('股票', 'stock_id') %></th>
      <th><%== link_path('日期', 'date') %></th>
      <th><%== link_path('名称', 'name') %></th>
      <th>职位</th>
      <th><%== link_path('股票变动数量', 'number_of_shares') %></th>
      <th>平均价格</th>
      <th><%== link_path('交易价格', 'share_total_price') %></th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@insiders, 'insiders/insider') %>
  </tbody>
</table>

<% content_for(:footer) do %>
  We have <%= @insiders.count %> insiders.
<% end %>

<% content_for(:title) do %>
  Insider list
<% end %>
