<tr>
  <td><%= insider_history['ID'] %></td>
  <td><a href="/stocks/<%= insider_history['stock_id'] %>"><%= insider_history['股票'] %></a></td>
  <td><%= insider_history['日期'] %></td>
  <td><a href="/insiders/<%= insider_history['insider_id'] %>"><%= insider_history['名称'] %></a></td>
  <td><%= insider_history['职位'] %></td>
  <td class="<%= insider_history['颜色'] %>-text"><%= insider_history['股票变动数量'] %></td>
  <td><%= insider_history['平均价格'] %></td>
  <td><%= insider_history['交易价格'] %></td>
  <td><%= insider_history['创建时间'] %></td>
</tr>
