<% if @log.present? %>
  <h5>Start at: <%== @log.created_at_string %></h5>
  <h5>Finished at: <%== @log.finished_at_string  %></h5>
<% end %>

<div class="row">
  <div class="col s12">
    <%== create_form('stock-complete', placeholder: '输入股票代码', param: 'stock_name') %>
  </div>
</div>

<% if @error_message.present? %>
  <p><%== @error_message %></p>
<% end %>


<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%== link_path('股票', 'stock_id') %></th>
      <th><%== link_path('日期', 'date') %></th>
      <th><%== link_path('名称', 'name') %></th>
      <th>职位</th>
      <th><%== link_path('股票变动数量', 'number_of_shares') %></th>
      <th>平均价格</th>
      <th><%== link_path('交易价格', 'share_total_price') %></th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@insider_histories, 'insider_histories/insider_history') %>
  </tbody>
</table>

<% content_for(:footer) do %>
  We have <%= @insider_histories.count %> insider histories.
<% end %>

<% content_for(:title) do %>
  Insider Histories
<% end %>
