<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%== content_for(:title) || "Stocks" %></title>
    <%== stylesheet_tag 'app' %>
  </head>
  <body>
    <div id="app">
    </div>
    <h1><%== content_for(:page_title) || content_for(:title) %></h1>
    <%== yield %>
    <%== javascript_tag 'app' %>
    <%== opal_require 'app' %>
    <%== content_for(:footer) || render("footer") %>
  </body>
</html>
