<form action="/stocks" method="get">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s2">
          <i class="material-icons prefix">search</i>
          <input type="text" name="name" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">输入股票代码</label>
        </div>

        <div class="input-field col s3">
          <input type="submit" value="查找" />
        </div>
      </div>
    </div>
  </div>
</form>

<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th><%== link_path('ID', 'id') %></th>
      <th><%== link_path('股票名称', 'name') %></th>
      <th><%== link_path('交易所名称', 'exchange_name') %></th>
      <th><%== link_path('机构持股占比', 'percent_of_institutions') %></th>
      <th><%== link_path('IPO 发行数量', 'ipo_amount') %></th>
      <th><%== link_path('IPO 发行价区间', 'ipo_average_price') %></th>
      <th><%== link_path('IPO 融资金额', 'ipo_placement_number') %></th>
      <th><%== link_path('IPO 日期', 'ipo_date') %></th>
      <th><%== link_path('财报日期', 'next_earnings_date') %></th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@stocks, 'stocks/stock') %>
  </tbody>
</table>

<%== paginate @stocks %>

<% content_for(:title) do %>
  Stock list
<% end %>
