<div class="row">
  <div class="col s12">
    <form action="<%= request.path %>" autocomplete="on" method="get">
      <div class="input-field col s2">
        <select name="category_id">
          <option value="" disabled selected>选择消息类别</option>
          <% @message_categories.each do |category| %>
            <option value="<%= category[:id] %>"><%= category[:name] %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s2">
        <input type="text" name="q" id="autocomplete-input" value="<%= request.params['q'] %>" aria-label="Search" placeholder="输入搜索关键字">
        <i class="material-icons prefix submit-icon" onclick="this.closest('form').submit(); return false;">search</i>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="input-field col s2">
      <label>修改自定义关键字</label>
    </div>

    <%== create_form(
      'add-ts-keyword',
      placeholder: '新增',
      action: '/add-ts-keyword',
      param: 'new_keyword',
      method: 'post',
      icon: 'send'
    ) %>
    <%== create_form(
      'remove-ts-keyword',
      placeholder: '删除',
      action: '/remove-ts-keyword',
      param: 'keyword',
      method: 'post',
      icon: 'send',
    ) %>
    <%== create_form(
      'sync-ts-keyword',
      placeholder: '更新',
      action: '/sync-ts-keyword',
      method: 'post',
      icon: 'refresh',
      grid_offset: 'offset-s1',
      use_input: false
    ) %>
  </div>
</div>

<% if @error_message.present? %>
  <p><%== @error_message %></p>
<% end %>

<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>标题</th>
      <th><%== link_path('发布时间', 'created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@messages, 'jin10/message', local: :message) %>
  </tbody>
</table>

<%== paginate @messages %>
