<div class="row">
  <div class="col s12">
    <form action="<%= request.path %>" autocomplete="on" method="get">
      <div class="input-field col s3 tooltipped" data-position="bottom" data-tooltip="选择消息标签">
        <select multiple name="tag_ids[]" class="tooltipped" data-position="bottom">
          <% request_tag_ids = request.params['tag_ids'] || [] %>

          <% if request_tag_ids.include? '-1' or request_tag_ids.blank? %>
            <option value="-1" selected>显示所有标签</option>
          <% else %>
            <option value="-1">显示所有标签</option>
          <% end %>

          <% @message_tags.each do |tag| %>
            <%=
            if request_tag_ids.include? '-1'
              selected = ''
            else
              selected = request_tag_ids.include?(tag[:id].to_s) ? 'selected' : ''
            end
            %>
            <option <%= selected %> value="<%= tag[:id] %>"><%= tag[:name] %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s2 tooltipped" data-position="bottom" data-tooltip="选择查看几天的消息">
        <select name="days">
          <option value="2" selected>最近一天</option>
          <% mapping = {
            3 => '最近三天',
            7 => '最近一周',
            15 => '最近半个月',
            30 => '最近一个月',
            90 => '最近三个月',
            180 => '最近半年',
            360 => '最近一年',
            -1 => '所有',
          } %>
          <% mapping.each do |day, text| %>
            <%= selected = day == request.params['days'].to_i ? 'selected' : '' %>
            <option <%= selected %> value="<%= day %>"><%= text %></option>
          <% end %>
        </select>
      </div>
      <div class="input-field col s2">
        <input type="text" name="q" id="autocomplete-input" value="<%= request.params['q'] %>" aria-label="Search" placeholder="输入搜索关键字">
        <i class="material-icons prefix submit-icon" onclick="this.closest('form').submit(); return false;">search</i>
      </div>
      <div class="input-field col s2 offset-s1">
        <i class="material-icons prefix submit-icon" onClick="window.location.reload();">refresh</i>
        <label>刷新页面</label>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <div class="input-field col s2">
      <label>修改自定义关键字</label>
    </div>

    <%== create_form(
      'add-ts-keyword',
      placeholder: '新增',
      action: '/add-ts-keyword',
      param: 'new_keyword',
      method: 'post',
      icon: 'send'
    ) %>
    <%== create_form(
      'remove-ts-keyword',
      placeholder: '删除',
      action: '/remove-ts-keyword',
      param: 'keyword',
      method: 'post',
      icon: 'send',
    ) %>
    <%== create_form(
      'sync-ts-keyword',
      placeholder: '刷新关键字索引（耗时操作）',
      action: '/sync-jin10-messages-keyword',
      method: 'post',
      icon: 'refresh',
      grid_offset: 'offset-s1',
      use_input: false,
      size: 4
    ) %>
  </div>
</div>

<% if @error_message.present? %>
  <div class="row">
    <p><%== @error_message %></p>
  </div>
<% end %>

<%== paginate @messages %>

<table class="highlight centered responsive-table">
  <thead>
    <tr>
      <th>ID</th>
      <th>标题</th>
      <th><%== link_path('发布时间', 'created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@messages, 'jin10/message', local: :message) %>
  </tbody>
</table>

<%== paginate @messages %>
