<tr>
  <td><%= institution['ID'] %></td>
  <td><a href="/stocks/<%= institution['stock_id'] %>"><%= institution['股票'] %></a></td>
  <td><%= institution['日期'] %></td>
  <td><%= institution['机构名称'] %></td>
  <td><%= institution['机构持有数量'] %></td>
  <td><%= institution['市场价值'] %></td>
  <td><%= institution['占股票百分比'] %></td>
  <td><%= institution['占机构百分比'] %></td>
  <td><%= institution['机构季度变动百分比'] %></td>
  <td><%= institution['机构季度变动数量'] %></td>
  <td><%= institution['机构平均成本'] %></td>
  <td><%= institution['创建时间'] %></td>
</tr>
