<% if @log.present? %>
<h3>Latest Data:</h3>
<h3>Start at: <%== @log.created_at %></h3>
<h3>Finished at <%== @log.finished_at  %></h3>
<% end %>

<table>
  <thead>
    <tr>
      <th><%== link_path('/latest-institutions', 'ID', 'id', @sort_column, @sort_direction) %></th>
      <th><%== link_path('/latest-institutions', '股票', 'stock_id', @sort_column, @sort_direction) %></th>
      <th><%== link_path('/latest-institutions', '日期', 'date', @sort_column, @sort_direction) %></th>
      <th>机构名称</th>
      <th>机构持有数量</th>
      <th>市场价值</th>
      <th>占股票百分比</th>
      <th>占机构百分比</th>
      <th>机构季度变动百分比</th>
      <th>机构季度变动数量</th>
      <th>机构平均成本</th>
      <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@institutions, "institutions/institution") %>
  </tbody>
</table>
