<table>
  <thead>
    <tr>
      <th><%== link_path('ID', 'id') %></th>
      <th><%== link_path('股票', 'stock_name') %></th>
      <th><%== link_path('日期', 'date') %></th>
      <th><%== link_path('机构名称', 'name') %></th>
      <th>机构持有数量</th>
      <th><%== link_path('市场价值', 'market_value') %></th>
      <th><%== link_path('占股票百分比', 'percent_of_shares_for_stock') %></th>
      <th><%== link_path('占机构百分比', 'percent_of_shares_for_institution') %></th>
      <th><%== link_path('机构季度变动百分比', 'quarterly_changes_percent') %></th>
      <th>机构季度变动数量</th>
      <th>机构平均成本</th>
      <th>创建时间</th>
    </tr>
  </thead>
  <tbody>
    <%== each_partial(@institutions, 'institutions/institution') %>
  </tbody>
</table>

<% content_for(:title) do %>
  <%==
  name = @firm.name
  name = "#{name} (#{@firm.display_name})" if @firm.display_name.present?
  name
  %>
<% end %>
