<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%== content_for(:title) || 'Stocks' %></title>
    <%== stylesheet_tag 'app' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <%== render 'navbar'  %>
      <div id="app">
      </div>
      <%== yield %>
      <%== javascript_tag 'app' %>
      <%== opal_require 'app' %>
      <%== content_for(:footer) || render('footer') %>

      <!-- Modal Structure -->
      <div id="modal1" class="modal">
        <form action="" method="post">
          <div class="modal-content">
            <h4>修改 display_name</h4>
            <input type="text" name="display_name" maxlength="80" placeholder="" />
          </div>

          <div class="modal-footer">
            <button class="btn waves-effect waves-light" type="submit" name="">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>

      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li><a href="#!"></a></li>
        <li><a class="modal-trigger" href="#modal1"></a></li>
      </ul>
    </div>
  </body>
</html>
